<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>Contest | New</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/fav.png" th:href="@{/images/fav.png}">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="../static/css/animate.css" th:href="@{/css/animate.css}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}">
    <!-- meanmenu css -->
    <link rel="stylesheet" type="text/css" href="../static/css/meanmenu.min.css" th:href="@{/css/meanmenu.min.css}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
    <!-- lightbox css -->
    <link rel="stylesheet" type="text/css" href="../static/css/lightbox.min.css" th:href="@{/css/lightbox.min.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css" th:href="@{/css/responsive.css}">
    <!-- modernizr css -->
    <script src="../static/js/vendor/modernizr-2.8.3.min.js" th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
            th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
            th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <![endif]-->
</head>
<body onload="SetDefaultValue()">
<!--Header area start here-->
<div th:replace="fragments/general.html::header"></div>
<!--Header area end here-->

<!-- Cart Page Start Here -->
<div class="shipping-area section pt-90 pb-100">
    <div class="container">
        <div class="form-area">
            <h3>Create new contest</h3>
            <form data-toggle="validator" th:action="@{__${#httpServletRequest.requestURI}__}"
                  enctype="multipart/form-data"  th:object="${contest}"
                  method="post">
                <fieldset>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label th:text="#{contest.open.invitations}">Open or Invitations</label>
                            <select type="text" th:field="*{openAccess}">-->
                                <option th:value="#{contest.open}">Open</option>
                                <option th:value="#{contest.invite}">Invitations</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label th:text="Category">Open or Invitations</label>
                            <select type="text" th:field="*{categoryName}">-->
                                <option th:each="category : ${categories}"
                                        th:value="${category.getName()}"
                                        th:text="${category.getName()}">
                                    Contest category name
                                </option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row" >
                        <div class="col-sm-12">
                            <label th:text="Title">Title</label>
                            <input th:field="*{title}" type="text">
                            <label class="error" th:errors="*{title}"  >Title error placeholder</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label th:text="#{contest.new.days}">
                                Please enter the duration of contest phase one in number of days
                            </label>
                            <input th:field="*{phaseOneDays}" type="number"
                                   min="1" max="31" required id="initialNumber" onkeyup=imposeMinMax(this) >
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label th:text="#{contest.new.hours}">
                                Please enter the duration of contest phase two in number of hours
                            </label>
                            <input th:field="*{phaseTwoHours}" type="number" id="initialNumber2"
                                   onkeyup=imposeMinMax(this) min="1" max="24" required  >
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12">

                        </div>
                        <div class="col-sm-12">
                            <label>Add additional jury members (control + left click to select multiple users)</label>
                            <input th:if="${eligibleJuries.isEmpty()}" type="text"
                                   th:text="#{contest.jury.no.eligible}" disabled>
                            <select style="height: 72px" th:unless="${eligibleJuries.size() == 0}"
                                    th:field="*{additionalJury}" multiple>
                                <option th:each="eligibleJury : ${eligibleJuries}"
                                        th:value="${eligibleJury.id}"
                                        th:text="${eligibleJury.getUsername()}">Select Your Country
                                </option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>If you would like to add a cover photo, please choose one of the three options
                                below:</h5>
                            <label>1. Upload a new file</label>
                            <input type="file" class="text_field" name="file"/>
                            <label>2. Or add an online picture (please provide URL below):</label>
                            <input type="text" th:field="*{photoUrl}">
                            <label>3. Or select from the already existing cover photos:</label>
                            <input th:if="${coverPhotos.size() == 0}" type="text"
                                   th:text="#{cover.photo.no}" disabled>
                            <div class="row">
                                <div class="col-sm-2 col-sm-1" th:unless="${coverPhotos.size() == 0}"
                                     th:each="photo : ${coverPhotos}">
                                    <img src="../static/images/contester/1.png"
                                         style="object-fit: cover; width: 200px; height: 100px"
                                         th:src="@{${photo.getPath()}}" alt="">
                                    <input type="radio" name="coverPhoto" style="height: 18px"
                                           th:field="*{photoUrl}" th:value="${photo.path}">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div style="clear: both"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="accordion" id="accordion">
                            <div class="next-step text-center">
                                <button type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Cart Page End Here -->

<!-- Footer Area Section Start Here -->
<div th:replace="fragments/general.html::footer"></div>
<!-- Footer Area Section End Here -->

<!-- jquery latest version -->
<script src="../static/js/vendor/jquery-1.12.0.min.js" th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
<!-- bootstrap js -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- meanmenu js -->
<script src="../static/js/jquery.meanmenu.js" th:src="@{/js/jquery.meanmenu.js}"></script>
<!-- jquery-ui js -->
<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<!-- wow js -->
<script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<!-- jquery.counterup js -->
<script src="../static/js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
<script src="../static/js/waypoints.min.js" th:src="@{/js/waypoints.min.js}"></script>
<!-- jquery light box -->
<script src="../static/js/lightbox.min.js" th:src="@{/js/lightbox.min.js}"></script>
<!-- isotope.pkgd.min js -->
<script src="../static/js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
<!-- imagesloaded.pkgd.min js -->
<script src="../static/js/imagesloaded.pkgd.min.js" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<!-- magnific popup -->
<script src="../static/js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- jQuery MixedIT Up -->
<script src="../static/js/jquery.mixitup.min.js" th:src="@{/js/jquery.mixitup.min.js}"></script>
<!-- Counter Down js -->
<script src="../static/js/simplyCountdown.min.js" th:src="@{/js/simplyCountdown.min.js}"></script>
<!-- jQuery Multistep form -->
<script src="../static/js/multi_step_form.js" th:src="@{/js/multi_step_form.js}"></script>
<!-- jquery.fancybox.pack js -->
<script src="../static/inc/fancybox/jquery.fancybox.pack.js" th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
<!-- plugins js -->
<script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
<!-- jquery weave effects -->
<script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
<!-- TimeCircles js -->
<script src="../static/js/TimeCircles.js" th:src="@{/js/TimeCircles.js}"></script>
<!-- main js -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

<script>
    function SetDefaultValue() {
        var PopulateField = document.getElementById("initialNumber").value="1";
        var PopulateField2 = document.getElementById("initialNumber2").value="1";
    }
    function imposeMinMax(el){
        if(el.value != ""){
            if(parseInt(el.value) < parseInt(el.min)){
                el.value = el.min;
            }
            if(parseInt(el.value) > parseInt(el.max)){
                el.value = el.max;
            }
        }
    }
</script>
</body>
</html>