<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>Contest</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/fav.png" th:href="@{/images/fav.png}">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="../static/css/animate.css" th:href="@{/css/animate.css}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}">
    <!-- meanmenu css -->
    <link rel="stylesheet" type="text/css" href="../static/css/meanmenu.min.css" th:href="@{/css/meanmenu.min.css}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
    <!-- magnific popup css -->
    <link rel="stylesheet" type="text/css" href="../static/css/magnific-popup.css" th:href="@{/css/magnific-popup.css}">
    <!-- lightbox css -->
    <link rel="stylesheet" type="text/css" href="../static/css/lightbox.min.css" th:href="@{/css/lightbox.min.css}">
    <!-- TimeCircles css -->
    <link rel="stylesheet" type="text/css" href="../static/css/TimeCircles.css" th:href="@{/css/TimeCircles.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css" th:href="@{/css/responsive.css}">
    <!-- modernizr css -->
    <script src="../static/js/vendor/modernizr-2.8.3.min.js" th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
            th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
            th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <![endif]-->
</head>
<body>

<div th:replace="fragments/general.html::header"></div>
<!--Header area end here-->
<!-- Single Photo Contest Start Here -->
<div class="home-about-photo-contest-area pt-100 pb-5">
    <div class="container">
        <div class="row full-photocontest-area">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-md-30">
                <div class="single-section">
                    <div class="section-img">
                        <img th:unless="${contest.getCoverPhoto() == null}" src="../static/images/contest/big1.jpg"
                             th:src="@{${contest.getCoverPhoto().getPath()}}" alt="single Images"/>
                        <img th:if="${contest.getCoverPhoto() == null}" src="../static/images/contest/big1.jpg" th:src="@{/images/contest/big1.jpg}" alt="single Images"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h4 class="headding-title" th:text="${contest.getTitle()}" style="margin: 0px" >Black And White Compositions</h4>
                <p th:text="'Phase: ' +${contest.getPhase().toString()}" style="margin: 0px"  >Phase: </p>
                <ul id="meta-text" style="margin: 0px" >
                    <li class="date" th:text="${contest.getCreationTime().getDayOfMonth()} + ' ' + ${contest.getCreationTime().getMonth()}
                             + ' ' + ${contest.getCreationTime().getYear()}"><i class="fa fa-calendar-check-o"></i> MAR
                        30, 2018
                    </li>
                    <li class="date" th:text="${contest.getPhaseTwoExpiration().getDayOfMonth()} + ' ' + ${contest.getPhaseTwoExpiration().getMonth()}
                             + ' ' + ${contest.getPhaseTwoExpiration().getYear()}" style="margin: 0px"><i class="fa fa-calendar-times-o"
                                                                                      aria-hidden="true"></i> MAY 25,
                        2018
                    </li>
                </ul>
                <p class="des" style="margin: 0px" th:text="#{contest.category} + ${contest.getCategory().getName()}" >Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed
                    ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. </p>
                <div class="countdown-section">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="CountDownTimer" th:unless="${timeDifference < 0}"
                                 th:data-timer="${timeDifference}"></div>
                        </div>
                        <div class="col-sm-11" style="width: 549px; height: 153.6px" th:if="${timeDifference < 0}"  >
                            <h2 style="position: absolute; top: 40%;" th:text="#{contest.finished}"  ></h2>
                        </div>
                    </div>
                </div>
                <div class="join-details" th:unless="${entries.isEmpty()}">
                    <p th:if="${isOrganizer}" th:text=" #{contest.last.join} + ' ' + ${entries.get(0).getParticipant().getFirstName()}
							 + ' ' + ${entries.get(0).getParticipant().getLastName()}" style="margin: 0px" >Last Join : Robert Bert </p>
                    <p th:text="#{contest.total.entries} + ' ' +${entriesCount}" style="margin: 0px" >Total Join : 5478</p>
                </div>
                <div class="link-section" th:if="${userEntry.getPhoto() == null}
                and ${contest.isOpenAccess()} and ${contest.getPhase().ordinal() == 0} and ${!isJury}">
                    <a href="upload-photo.html" th:href="@{__${#httpServletRequest.requestURI}__/entries/new}"
                       class="joni-btn primary-btn">Enroll</a>
                </div>
                <div class="link-section" th:if="${userEntry.getPhoto() == null}
                and ${contest.isOpenAccess() == false } and ${contest.getPhase().ordinal() == 0} and ${!isJury}">
                    <a href="upload-photo.html" th:href="@{__${#httpServletRequest.requestURI}__/entries/new}"
                       class="joni-btn primary-btn">Enroll</a>
                </div>
                <div class="link-section" th:if="${isJury}
                and ${contest.isOpenAccess() == false }">
                    <a href="upload-photo.html" th:href="@{__${#httpServletRequest.requestURI}__/invites/new}"
                       class="joni-btn primary-btn">Invite</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Photo Contest End Here -->

<!-- Show Jury Panel Start Here -->
<div class="home-about-photo-contest-area pt-100 pb-100">
    <div class="container">
        <section id="main-content">
            <section class="wrapper">
                <div class="col-lg-12">
                    <section class="panel">
                        <h3 style="text-align: center" class="panel-heading">Jury</h3>
                        <table class="table table-striped table-advance table-hover">
                            <tbody>
                            <tr>
                                <th><i class="fa fa-navicon"></i> First Name</th>
                                <th><i class="fa fa-navicon"></i> Last Name</th>
                                <th><i class="fa fa-camera-retro"></i> Rank</th>
                                <th><i class="fa fa-diamond"></i> Total Score</th>
                                <th><i class="fa fa-user-plus"></i> Profile</th>
                            </tr>
                            <tr th:each="jury : ${contestJuryList}">
                                <td th:text="${jury.getFirstName()}">FirstName</td>
                                <td th:text="${jury.getLastName()}">LastName</td>
                                <td th:text="${jury.getRanking().toString()}">Rank</td>
                                <td th:text="${jury.getPoints()}">Total Score</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-success tooltips" data-placement="left"
                                           data-original-title="Update User" href="#"
                                           th:href="@{/users/{id}(id=${jury.getId()})}"><i
                                                class="fa fa-edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </section>
        </section>
    </div>
</div>
<!-- Show Jury Panel End Here -->

<!-- Show winner if finished starts here -->
<div class="home-gellary-area pt-5 pb-1" style="padding-bottom: 2px" th:unless="${winners == null}" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Contest  <span> Winner </span></h2>
                    <img src="../static/images/line.png" th:href="@{/images/line.png}" alt="line image">
                </div>
            </div>
            <div class="home-about-photo-contest-area pt-1 pb-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 mb-50" th:each="winner : ${winners}">
                            <div class="single-section text-center">
                                <div class="section-img">
                                    <img src="../static/images/contest/big1.jpg"
                                         th:if="${winner.getPhoto() == null}"
                                         th:src="@{/images/contest/big1.jpg}" alt="single Images"  />
                                    <img src="../static/images/contest/big1.jpg"
                                         th:unless="${winner.getPhoto() == null}"
                                         th:src="${winner.getPhoto().getPath()}" alt="single Images"  />
                                </div>
                                <a th:href="@{/entries/{id}(id=${winner.getId()})}">
                                    <p style="color: black; font-size: large; margin: 2px" class="headding-title" th:text="${winner.getTitle()}" >
                                        Black And White Compositions
                                    </p>
                                </a>
                                 <p th:text="${ 'By ' + winner.getParticipant().getFirstName()} + ' ' + ${winner.getParticipant().getLastName()}">
                                    Author name
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Show winner if finished ends here -->

<!-- Show entrees for Jury only start here -->
<div class="others-photo-contester-area pt-1 pb-1"
     th:unless="${entries.isEmpty()}" th:if="${isJury} and ${contest.phase.ordinal() != 2}" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Contest<span> Participations </span></h2>
                    <img src="../static/images/line.png" th:href="@{images/line.png}" alt="line image">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-30"  th:each="entry : ${entries}">
                <div class="single-others-contester">
                    <div class="images" style="margin-bottom: 2px" >
                        <img src="../static/images/contester/1.png" th:src="@{${entry.getPhoto().getPath()}}" alt="">
                    </div>

                    <a th:href="@{/entries/{id}(id=${entry.getId()})}">
                        <h3 th:text="${entry.getTitle()}"style="margin: 0 0 0" >
                            Photo Graphy Template Contest
                        </h3>
                    </a>
                    <p class="some-text" th:text="${entry.getStory()}">Lorem ipsum dolor sit amet, conser adipisicing
                        elit. Aspeores quo temporibus</p>
                    <p class="some-text"
                       th:if="${!entry.entryReviewed(loggedUser)} and ${contest.getPhase().ordinal() == 1} "
                       th:text="#{entry.not.reviewed}">Lorem ipsum dolor sit amet, conser adipisicing
                        elit. Aspeores quo temporibus</p>
                    <p class="some-text"
                       th:if="${entry.entryReviewed(loggedUser)} and ${contest.getPhase().ordinal() == 1}"
                       th:text="#{entry.reviewed}">Lorem ipsum dolor sit amet, conser adipisicing
                        elit. Aspeores quo temporibus</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Show entrees for Jury only end here -->

<!-- Show finished with score for all start here -->
<div class="others-photo-contester-area pt-1 pb-1"
     th:unless="${entries.isEmpty()}" th:if="${contest.phase.ordinal() == 2}" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Contest<span> Participations </span></h2>
                    <img src="../static/images/line.png" th:href="@{images/line.png}" alt="line image">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-30" th:each="entry : ${entries}">
                <div class="single-others-contester">
                    <div class="images" style="margin-bottom: 2px" >
                        <img src="../static/images/contester/1.png" th:src="@{${entry.getPhoto().getPath()}}" alt="">
                    </div>

                    <a th:href="@{/entries/{id}(id=${entry.getId()})}">
                        <h3 th:text="${entry.getTitle()}"style="margin: 0 0 0" >
                            Photo Graphy Template Contest
                        </h3>
                    </a>
                    <p class="some-text" th:text="${entry.getStory()}">Lorem ipsum dolor sit amet, conser adipisicing
                        elit. Aspeores quo temporibus</p>
                    <p class="some-text"

                       th:text="#{entry.final.score} + ${scores.get(entry)}">Lorem ipsum dolor sit amet, conser adipisicing
                        elit. Aspeores quo temporibus</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Show finished with score for all end here -->

<!-- Show user own entry start here -->
<div class="others-photo-contester-area pt-1 pb-1" th:unless="${isOrganizer} or ${userEntry.getPhoto() == null}" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>My<span> Participation </span></h2>
                    <img src="../static/images/line.png" th:href="@{images/line.png}" alt="line image">
                </div>
            </div>
        </div>
        <div class="row" style="align-items: center; justify-content: center" >
            <div class="col-lg-4 col-md-6 col-sm-12 mb-30" th:unless="${isOrganizer}"  >
                <div class="single-others-contester">
                    <div class="images" style="margin-bottom: 2px" >
                        <img src="../static/images/contester/1.png" th:src="@{${userEntry.getPhoto().getPath()}}" alt="">
                    </div>
                    <a th:href="@{/entries/{id}(id=${userEntry.getId()})}">
                        <h3 th:text="${userEntry.getTitle()}"style="margin: 0 0 0" >
                            Photo Graphy Template Contest
                        </h3>
                    </a>
                    <p class="some-text" th:text="${userEntry.getStory()}">Lorem ipsum dolor sit amet, conser adipisicing
                        elit. Aspeores quo temporibus</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Show user own entry end here -->


<div th:replace="fragments/general.html::footer"></div>

<!-- jquery latest version -->
<script src="../static/js/vendor/jquery-1.12.0.min.js" th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
<!-- bootstrap js -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- meanmenu js -->
<script src="../static/js/jquery.meanmenu.js" th:src="@{/js/jquery.meanmenu.js}"></script>
<!-- jquery-ui js -->
<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<!-- wow js -->
<script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<!-- jquery.counterup js -->
<script src="../static/js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
<script src="../static/js/waypoints.min.js" th:src="@{/js/waypoints.min.js}"></script>
<!-- jquery light box -->
<script src="../static/js/lightbox.min.js" th:src="@{/js/lightbox.min.js}"></script>
<!-- isotope.pkgd.min js -->
<script src="../static/js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
<!-- imagesloaded.pkgd.min js -->
<script src="../static/js/imagesloaded.pkgd.min.js" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<!-- magnific popup -->
<script src="../static/js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- jQuery MixedIT Up -->
<script src="../static/js/jquery.mixitup.min.js" th:src="@{/js/jquery.mixitup.min.js}"></script>
<!-- Counter Down js -->
<script src="../static/js/simplyCountdown.min.js" th:src="@{/js/simplyCountdown.min.js}"></script>
<!-- jQuery Multistep form -->
<script src="../static/js/multi_step_form.js" th:src="@{/js/multi_step_form.js}"></script>
<!-- jquery.fancybox.pack js -->
<script src="../static/inc/fancybox/jquery.fancybox.pack.js" th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
<!-- plugins js -->
<script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
<!-- jquery weave effects -->
<script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
<!-- TimeCircles js -->
<script src="../static/js/TimeCircles.js" th:src="@{/js/TimeCircles.js}"></script>
<!-- main js -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>