<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>Shooter | Gallery Three</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="../static/css/animate.css" th:href="@{/css/animate.css}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}">
    <!-- meanmenu css -->
    <link rel="stylesheet" type="text/css" href="../static/css/meanmenu.min.css" th:href="@{/css/meanmenu.min.css}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
    <!-- lightbox css -->
    <link rel="stylesheet" type="text/css" href="../static/css/lightbox.min.css" th:href="@{/css/lightbox.min.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css" th:href="@{/css/responsive.css}">
    <!-- modernizr css -->
    <script src="../static/js/vendor/modernizr-2.8.3.min.js" th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
            th:href="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
            th:href="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <![endif]-->
</head>
<body class="gallery2">

<!--Preview area start here-->
<div class="template-preloader-rapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--End preview here -->
<!--Header area start here-->
<div th:replace="fragments/general.html::header"></div>
<!--Header area end here-->

<!-- Inner Page Header serction start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12" style="width: 33%">
                <div class="header-page-title">
                    <h2>Dashboard</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" style="width: 33%">
                <div style="text-align: center; color: white" th:unless="${isOrganizer}">

                    <h4 class="media-heading"
                        th:text="${loggedUser.getFirstName()} + ' ' + ${loggedUser.getLastName()}">Girt Hat</h4>
                    <ul>
                        <li th:text="#{user.current.ranking} + ${loggedUser.getRankingAsString()}">
                            <a href="#">Contester Images <span
                                    class="count">(17)</span></a></li>
                        <li th:text="#{user.current.points} + ${loggedUser.getPoints()}"><a href="#">
                            Points
                            <span class="count">(29)</span></a></li>
                        <li th:text="#{user.current.next.ranking} + ${loggedUser.getPointsUntilNextRanking()}">
                            <a href="#">Modeling Images
                                <span class="count">(31)</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" style="width: 33%">
                <div class="header-page-locator">
                    <ul>
                        <li><a href="index.html" th:href="@{/}">Home /</a>Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header serction end here -->
<!-- Home Contest Phase One Start Here -->
<div class="home-gellary-area pt-sm-1 pb-sm-1" th:if="${isOrganizer}" th:unless="${phaseOnes.isEmpty()}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>Contests <span> in Phase One</span></h2>
                    <p>
                        Below you can find all contests that are currently in phase one. If not done already you
                        can still paricipiate in them.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-30" th:each="phaseOne : ${phaseOnes}">
                <div class="single-gellary">
                    <div class="image">
                        <img src="../static/images/gellary/1.jpg"
                             th:unless="${phaseOne.getCoverPhoto() == null}"
                             th:src="@{*{phaseOne.getCoverPhoto().getPath()}}" alt="">
                        <div class="overley">
                            <ul>
                                <li><a href="photo-details.html" th:href="@{/contests/{id}(id=${phaseOne.getId()})}">
                                    <i class="fa fa-eye"></i></a></li>
                                <li><a href="../static/images/gellary/1.jpg"
                                       th:unless="${phaseOne.getCoverPhoto() == null}"
                                       th:href="@{*{phaseOne.getCoverPhoto().getPath()}}" data-lightbox="example-set"
                                       data-title="Image Title"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="gellary-informations">
                        <ul>
                            <li>
                                <h3><a href="../static/images/gellary/1.jpg"
                                       th:text="${phaseOne.getTitle()}"
                                       th:href="@{/contests/{id}(id=${phaseOne.getId()})}"
                                       data-title="Image Title">Awesome senario <span>by Jems bond</span></a></h3></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" th:if="${phaseOnes.size() == 6 }">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="view-more">
                    <a href="#" th:href="@{/contests/one}">View All Phase One Contests</a>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<!-- Home Contest Phase One End Here -->

<!-- Home Contest Phase Two Start Here -->
<div class="home-gellary-area pt-sm-1 pb-sm-1" th:if="${isOrganizer}" th:unless="${phaseTwos.isEmpty()}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>Contests <span> in Phase Two</span></h2>
                    <p>
                        Below you can find all contests that are currently in phase one. If you have already
                        participated please await your score.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-30" th:each="phaseTwo : ${phaseTwos}">
                <div class="single-gellary">
                    <div class="image">
                        <img src="../static/images/gellary/1.jpg"
                             th:unless="${phaseTwo.getCoverPhoto() == null}"
                             th:src="@{*{phaseTwo.getCoverPhoto().getPath()}}" alt="">
                        <div class="overley">
                            <ul>
                                <li><a href="photo-details.html" th:href="@{/contests/{id}(id=${phaseTwo.getId()})}">
                                    <i class="fa fa-eye"></i></a></li>
                                <li><a href="../static/images/gellary/1.jpg"
                                       th:unless="${phaseTwo.getCoverPhoto() == null}"
                                       th:href="@{*{phaseTwo.getCoverPhoto().getPath()}}"
                                       data-lightbox="example-set"
                                       data-title="Image Title"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="gellary-informations">
                        <ul>
                            <li>
                                <h3><a href="../static/images/gellary/1.jpg"
                                       th:text="${phaseTwo.getTitle()}"
                                       th:href="@{/contests/{id}(id=${phaseTwo.getId()})}"
                                       data-title="Image Title">Awesome senario <span>by Jems bond</span></a></h3></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" th:if="${phaseTwos.size() == 6 }">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="view-more">
                    <a href="#" th:href="@{/contests/two}">View All Phase Two Contests</a>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<!-- Home Contest Phase Two End Here -->

<!-- Home Contest Phase Finished Start Here -->
<div class="home-gellary-area pt-sm-1 pb-sm-1" th:if="${isOrganizer}" th:unless="${phaseFinished.isEmpty()}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>Contests <span> Already Finished</span></h2>
                    <p>
                        Below you can find all contests that already finished. If you have already
                        participated, you can find your score under the participation tab.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-30" th:each="finished : ${phaseFinished}">
                <div class="single-gellary">
                    <div class="image">
                        <img src="../static/images/gellary/1.jpg"
                             th:unless="${finished.getCoverPhoto() == null}"
                             th:src="@{*{finished.getCoverPhoto().getPath()}}" alt="">
                        <div class="overley">
                            <ul>
                                <li><a href="photo-details.html" th:href="@{/contests/{id}(id=${finished.getId()})}">
                                    <i class="fa fa-eye"></i></a></li>
                                <li><a href="../static/images/gellary/1.jpg"
                                       th:unless="${finished.getCoverPhoto() == null}"
                                       th:href="@{*{finished.getCoverPhoto().getPath()}}"
                                       data-lightbox="example-set"
                                       data-title="Image Title"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="gellary-informations">
                        <ul>
                            <li>
                                <h3><a href="../static/images/gellary/1.jpg"
                                       th:text="${finished.getTitle()}"
                                       th:href="@{/contests/{id}(id=${finished.getId()})}"
                                       data-title="Image Title">Awesome senario <span>by Jems bond</span></a></h3></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" th:if="${phaseFinished.size() == 6 }">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="view-more">
                    <a href="#" th:href="@{/contests/finished}">View All Finished Contests</a>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<!-- Home Contest Phase Finished End Here -->

<!-- Player scorecard and opened contests starts here -->
<div class="home-gellary-area pt-sm-1 pb-sm-1" th:unless="${isOrganizer} or ${openContest.isEmpty()}">
    <div class="shop-page-area single-product-page pt-100 pb-70" style="padding-top: 25px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2>Currently <span> Opened Contests</span></h2>
                        <p>
                            Below you can find all contests that are currently open.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-30"
                     th:each="opened : ${openContest}">
                    <div class="single-gellary">
                        <div class="image">
                            <img src="../static/images/gellary/1.jpg"
                                 th:unless="${opened.getCoverPhoto() == null}"
                                 th:src="@{*{opened.getCoverPhoto().getPath()}}" alt="">
                            <div class="overley">
                                <ul>
                                    <li><a href="photo-details.html" th:href="@{/contests/{id}(id=${opened.getId()})}">
                                        <i class="fa fa-eye"></i></a></li>
                                    <li><a href="../static/images/gellary/1.jpg"
                                           th:unless="${opened.getCoverPhoto() == null}"
                                           th:href="@{*{opened.getCoverPhoto().getPath()}}"
                                           data-lightbox="example-set"
                                           data-title="Image Title"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="gellary-informations">
                            <ul>
                                <li>
                                    <h3><a href="../static/images/gellary/1.jpg"
                                           th:text="${opened.getTitle()}"
                                           th:href="@{/contests/{id}(id=${opened.getId()})}"
                                           data-title="Image Title">Awesome senario <span>by Jems bond</span></a>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Player scorecard opened contests End Here -->

<!-- Player participation contests starts here -->
<div class="home-gellary-area pt-sm-1 pb-sm-1" th:unless="${isOrganizer} or ${openUserContests.isEmpty()}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2><span> Contests </span> you currently participate in </h2>
                    <p>
                        Below you can find all contests that you currently participate in.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-30" th:each="opened : ${openUserContests}">
                <div class="single-gellary">
                    <div class="image">
                        <img src="../static/images/gellary/1.jpg"
                             th:unless="${opened.getCoverPhoto() == null}"
                             th:src="@{*{opened.getCoverPhoto().getPath()}}" alt="">
                        <div class="overley">
                            <ul>
                                <li><a href="photo-details.html" th:href="@{/contests/{id}(id=${opened.getId()})}">
                                    <i class="fa fa-eye"></i></a></li>
                                <li><a href="../static/images/gellary/1.jpg"
                                       th:unless="${opened.getCoverPhoto() == null}"
                                       th:href="@{*{opened.getCoverPhoto().getPath()}}"
                                       data-lightbox="example-set"
                                       data-title="Image Title"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="gellary-informations">
                        <ul>
                            <li>
                                <h3><a href="../static/images/gellary/1.jpg"
                                       th:text="${opened.getTitle()}"
                                       th:href="@{/contests/{id}(id=${opened.getId()})}"
                                       data-title="Image Title">Awesome senario <span>by Jems bond</span></a></h3></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Player participation End Here -->

<!-- Player participation contests starts here -->
<div class="home-gellary-area pt-sm-1 pb-sm-1" th:unless="${isOrganizer} or ${finishedUserContests.isEmpty()}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2><span> Finished Contests </span> that you participated in </h2>
                    <p>
                        Below you can find all finished contests that you previously participated in.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-30" th:each="finished : ${finishedUserContests}">
                <div class="single-gellary">
                    <div class="image">
                        <img src="../static/images/gellary/1.jpg"
                             th:unless="${finished.getCoverPhoto() == null}"
                             th:src="@{*{finished.getCoverPhoto().getPath()}}" alt="">
                        <div class="overley">
                            <ul>
                                <li><a href="photo-details.html" th:href="@{/contests/{id}(id=${finished.getId()})}">
                                    <i class="fa fa-eye"></i></a></li>
                                <li><a href="../static/images/gellary/1.jpg"
                                       th:unless="${finished.getCoverPhoto() == null}"
                                       th:href="@{*{finished.getCoverPhoto().getPath()}}"
                                       data-lightbox="example-set"
                                       data-title="Image Title"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="gellary-informations">
                        <ul>
                            <li>
                                <h3><a href="../static/images/gellary/1.jpg"
                                       th:text="${finished.getTitle()}"
                                       th:href="@{/contests/{id}(id=${finished.getId()})}"
                                       data-title="Image Title">Awesome senario <span>by Jems bond</span></a></h3></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Player participation End Here -->

<!-- Footer Area Section Start Here -->
<div th:replace="fragments/general.html::footer"></div>
<!-- Footer Area Section End Here -->

<!-- jquery latest version -->
<script src="../static/js/vendor/jquery-1.12.0.min.js" th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
<!-- bootstrap js -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- meanmenu js -->
<script src="../static/js/jquery.meanmenu.js" th:src="@{/js/jquery.meanmenu.js}"></script>
<!-- jquery-ui js -->
<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<!-- wow js -->
<script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<!-- jquery.counterup js -->
<script src="../static/js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
<script src="../static/js/waypoints.min.js" th:src="@{/js/waypoints.min.js}"></script>
<!-- jquery light box -->
<script src="../static/js/lightbox.min.js" th:src="@{/js/lightbox.min.js}"></script>
<!-- isotope.pkgd.min js -->
<script src="../static/js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
<!-- imagesloaded.pkgd.min js -->
<script src="../static/js/imagesloaded.pkgd.min.js" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<!-- magnific popup -->
<script src="../static/js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- jQuery MixedIT Up -->
<script src="../static/js/jquery.mixitup.min.js" th:src="@{/js/jquery.mixitup.min.js}"></script>
<!-- Counter Down js -->
<script src="../static/js/simplyCountdown.min.js" th:src="@{/js/simplyCountdown.min.js}"></script>
<!-- jQuery Multistep form -->
<script src="../static/js/multi_step_form.js" th:src="@{/js/multi_step_form.js}"></script>
<!-- jquery.fancybox.pack js -->
<script src="../static/inc/fancybox/jquery.fancybox.pack.js"
        th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
<!-- plugins js -->
<script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
<!-- jquery weave effects -->
<script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
<!-- TimeCircles js -->
<script src="../static/js/TimeCircles.js" th:src="@{/js/TimeCircles.js}"></script>
<!-- main js -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<!-- Player scorecard ends here -->

</body>
</html>