<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>

    <style>
        /* The alert message box */
        .alert {
            padding: 20px;
            background-color: #f44336; /* Red */
            color: white;
            /*margin-bottom: 15px;*/
            margin: auto;
            width: 50%;
        }

        /* The close button */
        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            /*float: right;*/
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        /* When moving the mouse over the close button */
        .closebtn:hover {
            color: black;
        }

    </style>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>New entry</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/fav.png" th:href="@{/images/fav.png}">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="../static/css/animate.css" th:href="@{/css/animate.css}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}">
    <!-- meanmenu css -->
    <link rel="stylesheet" type="text/css" href="../static/css/meanmenu.min.css" th:href="@{/css/meanmenu.min.css}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
    <!-- lightbox css -->
    <link rel="stylesheet" type="text/css" href="../static/css/lightbox.min.css" th:href="@{/css/lightbox.min.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css" th:href="@{/css/responsive.css}">
    <!-- modernizr css -->
    <script src="../static/js/vendor/modernizr-2.8.3.min.js" th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
            th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
            th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <![endif]-->
</head>
<body>
<div th:replace="fragments/general.html::header"></div>
<!--Header area end here-->
<!-- Multistep Form Start Here -->
<div class="multistep-form pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- multistep form -->
                <form class="regform" th:action="@{__${#httpServletRequest.requestURI}__}" enctype="multipart/form-data"
                      th:object="${entry}" method="post">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <!--                                <li class="active">Your Personal Informations</li>-->
                        <li>Upload Photo Informations</li>
                        <li>Preview Details Again</li>
                        <!--                                <li>Terms and Conditions</li>-->
                        <li>Status</li>
                    </ul>
                    <fieldset fieldset id="first">
                        <h2 class="title">Upload Photo Informations</h2>
                        <input type="text" class="text_field" name="marks" placeholder="Title" th:field="*{title}"/>
                        <br>
                        <input type="file" class="text_field" name="file"/>
                        <br>
                        <textarea name="textarea" cols="30" rows="10" th:field="*{story}"
                                  placeholder="Photo Story"></textarea>
                        <br>
                        <label class="error" style="color: red; position: center" th:unless="${message == null}"
                               th:text="${message}">File error placeholder</label>
                        <br>
                        <label class="error" style="color: red; position: center" th:unless="${error1 == null}"
                               th:text="${error1}">Title error placeholder</label>
                        <br>
                        <label class="error" style="color: red; position: center" th:unless="${error2 == null}"
                               th:text="${error2}">Title error placeholder</label>
                        <br>
                        <input type="button" name="previous" class="pre_btn" value="< Back"/>
                        <input type="button" name="next" class="next_btn" value="Next >"/>
                    </fieldset>
                    <fieldset>
                        <input type="button" name="previous" class="pre_btn" value="< Back"/>
                        <div class="alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';"
                                  th:text="#{entry.warning.message}">&times;</span>
                        </div>
                        <input type="submit" name="next" class="next_btn" value="Submit >"/>

                    </fieldset>
                    <fieldset th:if="${message}">
                        <h2 class="title">Submit error</h2>
                        <p th:text="${message}">Error placeholder</p>
                    </fieldset>
                    <fieldset th:unless="${message}">
                        <h2 class="title">Status Success</h2>
                        <p>Thanks for participating in the photo contest!</p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Multistep Form End Here -->

<div th:replace="fragments/general.html::footer"></div>

<!-- jquery latest version -->
<script src="../static/js/vendor/jquery-1.12.0.min.js" th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
<!-- bootstrap js -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- meanmenu js -->
<script src="../static/js/jquery.meanmenu.js" th:src="@{/js/jquery.meanmenu.js}"></script>
<!-- jquery-ui js -->
<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<!-- wow js -->
<script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<!-- jquery.counterup js -->
<script src="../static/js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
<script src="../static/js/waypoints.min.js" th:src="@{/js/waypoints.min.js}"></script>
<!-- jquery light box -->
<script src="../static/js/lightbox.min.js" th:src="@{/js/lightbox.min.js}"></script>
<!-- isotope.pkgd.min js -->
<script src="../static/js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
<!-- imagesloaded.pkgd.min js -->
<script src="../static/js/imagesloaded.pkgd.min.js" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<!-- magnific popup -->
<script src="../static/js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- jQuery MixedIT Up -->
<script src="../static/js/jquery.mixitup.min.js" th:src="@{/js/jquery.mixitup.min.js}"></script>
<!-- Counter Down js -->
<script src="../static/js/simplyCountdown.min.js" th:src="@{/js/simplyCountdown.min.js}"></script>
<!-- jquery.appear js -->
<script src="../static/js/jquery.appear.js" th:src="@{/js/jquery.appear.js}"></script>
<!-- jQuery Multistep form -->
<script src="../static/js/multi_step_form.js" th:src="@{/js/multi_step_form.js}"></script>
<!-- jquery.fancybox.pack js -->
<script src="../static/inc/fancybox/jquery.fancybox.pack.js" th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
<!-- plugins js -->
<script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
<!-- jquery weave effects -->
<script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
<!-- main js -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>