<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/general.html::head (title = 'USERS')"></div>

<body class="home">
<!--Preview area start here-->
<div class="template-preloader-rapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--End preview here -->
<!--Header area start here-->
<div th:replace="fragments/general.html::header"></div>
<!--Header area end here-->
<div class="home-about-photo-contest-area pt-100 pb-100">
    <div class="container">
        <section id="main-content">
            <section class="wrapper">
                <form action="#" th:action="@{/users}" th:object="${filterUserDto}"
                      method="post">
                    <div class="d-flex flex-row bd-highlight mb-3" style="justify-content: end">
                        <div class="p-2 bd-highlight">
                            <input class="form-control" placeholder="Search for a user..." type="text"
                                   th:name="name">
                        </div>
                        <div class="p-2 bd-highlight">
                            <select class="form-select" type="text" th:field="*{ranking}">
                                <option selected value="">Any Rank</option>
                                <option th:each="rank : ${ranks}"
                                        th:value="${rank}"
                                        th:text="${rank}">
                                    Rank
                                </option>
                            </select>
                        </div>
                        <div class="p-2 bd-highlight">
                            <select class="form-select" type="text" th:field="*{sort}">
                                <option selected th:value="null"> Not ordered</option>
                                <option th:each="option : ${sortUserOptions}"
                                        th:value="${option.getPreview()}"
                                        th:text="${option.getPreview()}">
                                    Sort users
                                </option>
                            </select>
                        </div>
                        <input class="btn btn-primary"
                               style="background-color: #e69138; border-color: #e69138" id=" button-search"
                               type="submit" value="Filter"/>
                    </div>
                </form>

                <div class="col-lg-12">
                    <section class="panel">
                        <h3 style="text-align: center" class="panel-heading">Users</h3>
                        <table class="table table-striped table-advance table-hover">
                            <tbody>
                            <tr>
                                <th><i class="fa fa-user"></i> Username</th>
                                <th><i class="fa fa-navicon"></i> First Name</th>
                                <th><i class="fa fa-navicon"></i> Last Name</th>
                                <th><i class="fa fa-camera-retro"></i> Rank</th>
                                <th><i class="fa fa-diamond"></i> Total Score</th>
                                <th><i class="fa fa-level-up"></i> Points To Next Rank</th>
                                <th><i class="fa fa-user-plus"></i> Profile</th>
                            </tr>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.getUsername()}">Username</td>
                                <td th:text="${user.getFirstName()}">FirstName</td>
                                <td th:text="${user.getLastName()}">LastName</td>
                                <td th:text="${user.getRanking().toString()}">Rank</td>
                                <td th:text="${user.getPoints()}">Total Score</td>
                                <td th:text="${user.getPointsUntilNextRanking()}">Point To Next Rank</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-success tooltips" data-placement="left"
                                           data-original-title="Update User" href="#"
                                           th:href="@{/users/{id}(id=${user.getId()})}"><i
                                                class="fa fa-edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </section>
        </section>
    </div>
</div>

<!-- Footer Area Section Start Here -->
<div th:replace="fragments/general.html::footer"></div>
<!-- Footer Area Section End Here -->

<!-- jquery latest version -->
<script src="../static/js/vendor/jquery-1.12.0.min.js" th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
<!-- bootstrap js -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- meanmenu js -->
<script src="../static/js/jquery.meanmenu.js" th:src="@{/js/jquery.meanmenu.js}"></script>
<!-- jquery-ui js -->
<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<!-- wow js -->
<script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<!-- jquery.counterup js -->
<script src="../static/js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
<script src="../static/js/waypoints.min.js" th:src="@{/js/waypoints.min.js}"></script>
<!-- jquery light box -->
<script src="../static/js/lightbox.min.js" th:src="@{/js/lightbox.min.js}"></script>
<!-- isotope.pkgd.min js -->
<script src="../static/js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
<!-- imagesloaded.pkgd.min js -->
<script src="../static/js/imagesloaded.pkgd.min.js" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<!-- magnific popup -->
<script src="../static/js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- jQuery MixedIT Up -->
<script src="../static/js/jquery.mixitup.min.js" th:src="@{/js/jquery.mixitup.min.js}"></script>
<!-- Counter Down js -->
<script src="../static/js/simplyCountdown.min.js" th:src="@{/js/simplyCountdown.min.js}"></script>
<!-- jQuery Multistep form -->
<script src="../static/js/multi_step_form.js" th:src="@{/js/multi_step_form.js}"></script>
<!-- jquery.fancybox.pack js -->
<script src="../static/inc/fancybox/jquery.fancybox.pack.js"
        th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
<!-- plugins js -->
<script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
<!-- jquery weave effects -->
<script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
<!-- TimeCircles js -->
<script src="../static/js/TimeCircles.js" th:src="@{/js/TimeCircles.js}"></script>
<!-- main js -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>
