<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/general.html::head (title = 'Home')"></div>
<body class="home">
<!--Preview area start here-->
<div class="template-preloader-rapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--End preview here -->
<!--Header area start here-->
<div th:replace="fragments/general.html::header"></div>
<!--Header area end here-->

<!-- ======= Hero Section ======= -->

<!-- Inner Page Header serction start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-title">
                    <h2>User Details</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-locator">
                    <ul>
                        <li><a th:href="@{/}">Home /</a> User Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header serction end here -->

<!-- Winner Area Start Here -->
<div class="winners-page-area pt-100">
    <div class="container">
        <div class="row top-winners">
            <div class="col-lg-6 md-mb-30">

                <h3><a style="color: #e69138" href="#" th:text="${user.getFirstName() + ' ' + user.getLastName()}">Roser
                    Smith</a></h3>
                <span th:text="${user.getRole().getRole()}">[role]</span>

            </div>

            <!--todo user image                        <div class="images">
                                        <a href="#">
                                            <img src="images/winners/single-winner.png" alt="">
                                        </a>
                                        <div class="overley">
                                            <div class="informations">
                                                <h3><a href="#">The Beauty Of Barns</a></h3>
                                                <span>Top Winners</span>
                                                <span>Vote: 596</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->

            <div class="col-lg-6">
                <div class="winners-informations">
                    <li>
                        <label>Rank: </label> <label type="text" th:text="${user.getRankingAsString()}"></label>
                    </li>
                    <li>
                        <label>Points: </label><label type="number" th:text="${user.getPoints()}"></label>
                    </li>
                    <li>
                        <label>Points until next rank: </label> <label type="text"
                                                                       th:text="${user.getPointsUntilNextRanking()}"></label>
                    </li>
                </div>
                <div class="d-flex flex-row bd-highlight mb-3">
                    <a class="btn btn-info "
                       style="background-color: #e69138; border-color: #e69138; line-height: 2.7"
                       target="__blank" href="#"
                       th:if="${isOrganizer} and *{!updateUserIsOrganizer}"
                       th:href="@{__${#httpServletRequest.requestURI}__/promote}">Promote To Organizer</a>
                    <div style="margin-right: 1rem">
                        <a class="btn btn-info "
                           style="background-color: #e69138; border-color: #e69138; line-height: 2.7"
                           target="__blank" href="#"
                           th:if="${user.getId() == loggedUser.getId()}"
                           th:href="@{__${#httpServletRequest.requestURI}__/update}">Edit Profile</a>
                    </div>
                    <a class="btn btn-info "
                       style="background-color: #e69138; border-color: #e69138; line-height: 2.7"
                       href="#"
                       th:if="${isOrganizer} and *{!updateUserIsOrganizer}"
                       th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete User</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Winner Area End Here -->

<!--Player scorecard and opened contests starts here-->
<div class="home-gellary-area pt-sm-1 pb-sm-1" th:unless="${phaseOnes.isEmpty()}">
    <div class="shop-page-area single-product-page pt-100 pb-70" style="padding-top: 25px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2>Currently <span> Opened Contests</span></h2>
                        <p>
                            Below you can find all contests that are currently open.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-30"
                     th:each="opened : ${phaseOnes}">
                    <div class="single-gellary">
                        <div class="image">
                            <img src="../static/images/gellary/1.jpg"
                                 th:unless="${opened.getCoverPhoto() == null}"
                                 th:src="${opened.getCoverPhoto().getPath()}" alt="single Images">
                            <div class="overley">
                                <ul>
                                    <li><a href="photo-details.html" th:href="@{/contests/{id}(id=${opened.getId()})}">
                                        <i class="fa fa-eye"></i></a></li>
                                    <li><a href="../static/images/gellary/1.jpg"
                                           th:unless="${opened.getCoverPhoto() == null}"
                                           th:href="${opened.getCoverPhoto().getPath()}"
                                           data-lightbox="example-set"
                                           data-title="Image Title"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="gellary-informations">
                            <ul>
                                <li>
                                    <h3><a href="../static/images/gellary/1.jpg"
                                           th:text="${opened.getTitle()}"
                                           th:href="@{/contests/{id}(id=${opened.getId()})}"
                                           data-title="Image Title">Awesome senario <span>by Jems bond</span></a>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Player scorecard opened contests End Here -->

<!-- Player participation contests starts here -->
<div class="home-gellary-area pt-sm-1 pb-sm-1" th:unless="${openUserContests.isEmpty()}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2><span> Contests </span> you currently participate in </h2>
                    <p>
                        Below you can find all contests that you currently participate in.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-30" th:each="opened : ${openUserContests}">
                <div class="single-gellary">
                    <div class="image">
                        <img src="../static/images/gellary/1.jpg"
                             th:unless="${opened.getCoverPhoto() == null}"
                             th:src="${opened.getCoverPhoto().getPath()}" alt="single Images">
                        <div class="overley">
                            <ul>
                                <li><a href="photo-details.html" th:href="@{/contests/{id}(id=${opened.getId()})}">
                                    <i class="fa fa-eye"></i></a></li>
                                <li><a href="../static/images/gellary/1.jpg"
                                       th:unless="${opened.getCoverPhoto() == null}"
                                       th:href="${opened.getCoverPhoto().getPath()}"
                                       data-lightbox="example-set"
                                       data-title="Image Title"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="gellary-informations">
                        <ul>
                            <li>
                                <h3><a href="../static/images/gellary/1.jpg"
                                       th:text="${opened.getTitle()}"
                                       th:href="@{/contests/{id}(id=${opened.getId()})}"
                                       data-title="Image Title">Awesome senario <span>by Jems bond</span></a></h3></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Player participation End Here -->

<!-- Player participation contests starts here -->
<div class="home-gellary-area pt-sm-1 pb-sm-1" th:unless="${finishedUserContests.isEmpty()}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2><span> Finished Contests </span> that you participated in </h2>
                    <p>
                        Below you can find all finished contests that you previously participated in.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-30" th:each="finished : ${finishedUserContests}">
                <div class="single-gellary">
                    <div class="image">
                        <img src="../static/images/gellary/1.jpg"
                             th:unless="${finished.getCoverPhoto() == null}"
                             th:src="${finished.getCoverPhoto().getPath()}" alt="single Images">
                        <div class="overley">
                            <ul>
                                <li><a href="photo-details.html" th:href="@{/contests/{id}(id=${finished.getId()})}">
                                    <i class="fa fa-eye"></i></a></li>
                                <li><a href="../static/images/gellary/1.jpg"
                                       th:unless="${finished.getCoverPhoto() == null}"
                                       th:href="${finished.getCoverPhoto().getPath()}"
                                       data-lightbox="example-set"
                                       data-title="Image Title"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="gellary-informations">
                        <ul>
                            <li>
                                <h3><a href="../static/images/gellary/1.jpg"
                                       th:text="${finished.getTitle()}"
                                       th:href="@{/contests/{id}(id=${finished.getId()})}"
                                       data-title="Image Title">Awesome senario <span>by Jems bond</span></a></h3></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Player participation End Here-->


<!-- Footer Area Section Start Here -->
<div th:replace="fragments/general.html::footer"></div>
<!-- Footer Area Section End Here -->

<!-- jquery latest version -->
<script src="../static/js/vendor/jquery-1.12.0.min.js" th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
<!-- bootstrap js -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- meanmenu js -->
<script src="../static/js/jquery.meanmenu.js" th:src="@{/js/jquery.meanmenu.js}"></script>
<!-- jquery-ui js -->
<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<!-- wow js -->
<script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<!-- jquery.counterup js -->
<script src="../static/js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
<script src="../static/js/waypoints.min.js" th:src="@{/js/waypoints.min.js}"></script>
<!-- jquery light box -->
<script src="../static/js/lightbox.min.js" th:src="@{/js/lightbox.min.js}"></script>
<!-- isotope.pkgd.min js -->
<script src="../static/js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
<!-- imagesloaded.pkgd.min js -->
<script src="../static/js/imagesloaded.pkgd.min.js" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<!-- magnific popup -->
<script src="../static/js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- jQuery MixedIT Up -->
<script src="../static/js/jquery.mixitup.min.js" th:src="@{/js/jquery.mixitup.min.js}"></script>
<!-- Counter Down js -->
<script src="../static/js/simplyCountdown.min.js" th:src="@{/js/simplyCountdown.min.js}"></script>
<!-- Nivo slider js -->
<script src="../static/inc/custom-slider/js/jquery.nivo.slider.js"
        th:src="@{/inc/custom-slider/js/jquery.nivo.slider.js}"></script>
<script src="../static/inc/custom-slider/home.js" th:src="@{/inc/custom-slider/home.js}"></script>
<!-- jQuery Multistep form -->
<script src="../static/js/multi_step_form.js" th:src="@{/js/multi_step_form.js}"></script>
<!-- jquery.fancybox.pack js -->
<script src="../static/inc/fancybox/jquery.fancybox.pack.js"
        th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
<!-- plugins js -->
<script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
<!-- jquery weave effects -->
<script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
<!-- TimeCircles js -->
<script src="../static/js/TimeCircles.js" th:src="@{/js/TimeCircles.js}"></script>
<!-- main js -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>